<div class="footer-logos">

    <a href="https://makeabilitylab.cs.washington.edu">
        <img src="{{ '/assets/logos/Logo_MakeabilityLab.png' | prepend: site.baseurl }}"
            alt="The Makeability Lab logo which is a large geometric M with an embedded L" />
    </a>
    <a href="https://dub.washington.edu">
        <img src="{{ '/assets/logos/Logo_DUB_WithText.png' | prepend: site.baseurl }}" style="max-height: 50px;"
            alt="The DUB logo, which is a stylized D U B with Design Use Build text under it" />
    </a>
    <a href="https://mhcid.washington.edu">
        <img src="{{ '/assets/logos/Logo_MHCID_200w.png' | prepend: site.baseurl }}" alt="The MHCID logo" />
    </a>
    <a href="https://cs.washington.edu">

        <img src="{{ '/assets/logos/Logo_AllenSchool_Black_Square.png' | prepend: site.baseurl }}" 
        alt="The Allen School CS logo, which is a larger UW W with Paul G. Allen School of Computer Science and Engineering text.">
     
    </a>
</div>