
<div class="footer-logos">

    <a href="https://makeabilitylab.cs.washington.edu">
        <img src="{{ '/assets/logos/Logo_MakeabilityLab.png' | prepend: site.baseurl }}"
            alt="The Makeability Lab logo which is a large geometric M with an embedded L" />
    </a>
    <a href="https://dub.washington.edu">
        <img src="{{ '/assets/logos/Logo_DUB_WithText.png' | prepend: site.baseurl }}" style="max-height: 50px;"
            alt="The DUB logo, which is a stylized D U B with Design Use Build text under it" />
    </a>
    <a href="https://mhcid.washington.edu">
        <img src="{{ '/assets/logos/Logo_MHCID_200w.png' | prepend: site.baseurl }}" alt="The MHCID logo" />
    </a>
    <a href="https://cs.washington.edu">

        <img src="{{ '/assets/logos/Logo_AllenSchool_Black_Square.png' | prepend: site.baseurl }}" 
        alt="The Allen School CS logo, which is a larger UW W with Paul G. Allen School of Computer Science and Engineering text.">
     
    </a>
</div>

<p class="text-small text-grey-dk-100 mb-0">
    This website was developed by the <a href="https://makeabilitylab.cs.washington.edu">Makeability Lab</a> and 
    Professor <a href="https://jonfroehlich.github.io/">Jon E. Froehlich</a>. If you found the website useful
    or use it in your teaching, I'd love to hear from you: 
    <a href="mailto:jonf@cs.uw.edu">jonf@cs.uw.edu</a>.

    The website is open source on <a href="https://github.com/makeabilitylab/physcomp/">GitHub</a>.
    Found an error? File a <a href="https://github.com/makeabilitylab/physcomp/issues">GitHub Issue</a>.
</p>
<p class="text-small text-grey-dk-100 mb-0">
    All Arduino, ESP32, <em>etc.</em> code is also open source on <a href="https://github.com/makeabilitylab/arduino">GitHub</a>
    You can find the MakeabilityLab_Arduino_Library <a href="https://github.com/makeabilitylab/arduino/tree/master/MakeabilityLab_Arduino_Library">here</a>.
</p>

