{% if page.usemathjax %}
  <!-- Mar 19, 2020: Just switched from cdn.mathjax.org to cdnjs based on https://www.mathjax.org/cdn-shutting-down/-->
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Register.StartupHook('TeX Jax Ready', function () {
      MathJax.InputJax.TeX.prefilterHooks.Add(function (data) {
        data.math = data.math.replace(/^% <!\[CDATA\[/, '').replace(/%\]\]>$/, '');
      });
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <!-- <script type="text/javascript" 
    async src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_CHTML"></script> -->
{% endif %}

<!-- <link rel="stylesheet" href="{{ "/_includes/css/custom.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/custom2.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "css/custom.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="custom2.css">
<link rel="stylesheet" href="/assets/css/custom.css"> -->
<link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">

<!-- <style type="text/css">
  body {background-color: green;}
  h1   {color: blue;}
  p    {color: red;}
</style> -->