{% if page.usemathjax %}
  <!-- Mar 19, 2020: Just switched from cdn.mathjax.org to cdnjs based on https://www.mathjax.org/cdn-shutting-down/-->
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
{% endif %}

{% if page.usetocbot %}
  <!-- tocbot is an awesome automatic table-of-contents generator/navigator -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css">
{% endif %}

<!-- <link rel="stylesheet" href="{{ "/_includes/css/custom.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/custom2.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "css/custom.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="custom2.css">
<link rel="stylesheet" href="/assets/css/custom.css"> -->
<link rel="stylesheet" href="{{ "/assets/css/custom.css" | prepend: site.baseurl }}">



<!-- <style type="text/css">
  body {background-color: green;}
  h1   {color: blue;}
  p    {color: red;}
</style> -->